body{
    direction:ltr;
}

@media(min-width:1800px){
    .inner select{
        font-size: 11px;
    }
    .card:hover .inner button {
        font-size: 11px;
    }
    .thumbnail:hover .inner button {
        font-size: 11px;
    }
}

@media(min-width:1200px){
    .slider12 img{
        height:auto;
    }
}
@media(max-width:1400px) {
    .sellpro .col-xl-2 {
        margin-right: -4px!important;
    }
    .sellpro .ekart{
	padding-right: 0px;
    }
    .card-sm {
        max-width: 112%;

    }

    .gridviewdiv {
        max-width: 94%;
    }

    .item1.list-group-item {
        max-width: 92.4% !important;
    }

    .order-track-content {
        padding-left: 100px;
    }
    .inner select{
        font-size: 13px;
    }
    .inner button{
        font-size: 13px;
    }

}

@media (min-width:992px){
    .bar_open{
        display:none;
    }
}

@media (min-width:992px) and (max-width:1199px) {

      .sellpro .ekart{
	padding: 0 10px;
    }

    .sellpro .recent-add{
        padding: 0 5px;
    }
    .sellpro .col-lg-3{
        margin-right: 0!important;
    }
    .cartside{
        margin: auto;
    }
    .slider12 img {
        height: auto;
    }

    .inner {
        font-size: 0.7rem;
    }

    .item img {
        max-width: 150px;
        position: relative;

    }

    .category-item-card .title {
        max-width: 175px;
    }

    .category-item-card .subtitle {
        max-width: 175px;
    }

    /* .sellpro .ekart {
        padding-right: 1.2rem !important;

    } */

    .buttonicon {
        margin-top: 10%;
    }

    .nav-home-aside {

        height: 100%;
        width: auto;
    }

    .nav-home-aside .more-category1 li {
        height: auto;
        width: auto;
        overflow: hidden;
    }

    .breadcrumb .item-1 {
        margin-left: 2% !important;
    }

    .card {
        width: auto;
        height: auto;
    }

    .card-sm {
        height: 320px !important;
        width: auto;
        margin: 5px auto;
    }

    .card-product-grid {
        overflow: hidden;
    }

    .card-product-trend {
        height: auto;
        overflow: hidden;
    }

    .card-deal {
        width: auto;
        height: auto;
    }

    .gridviewdiv {
        max-width: 99%;
    }

    #list {
        margin-left: 0;
    }

    .img-event .img-fluid {
        max-width: 100%;

        display: block;
        margin: 0 auto;
    }

    .item1 .title {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
    }

    .desc {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
    }

    .style-desc {
        overflow: hidden !important;
        max-width: auto;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
        text-transform: capitalize;
    }

    [class*=card-product] a.title {
        overflow: hidden !important;
        max-width: auto;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
        text-transform: capitalize;
    }

    .card-popular-category {
        margin-bottom: 10px;
    }

    .shopdetails .list-group-item .text-wrap {

        line-height: 2;


    }

    .shopdetails .img-event {
        display: inline-block;
    }

    .subscribeletter {
        font-size: 1.8em;
    }

    .shopdetails .list-group-item {
        max-width: 96% !important;
    }

    .order-track-content {
        padding-left: 70px;
    }

    /* .spacingrm {
        margin-left: 1px !important;
        margin-right: 1px !important;
    } */

    .item1.list-group-item .caption {
        float: none;
    }

    .item1.list-group-item .inner {
        display: block;
        margin: 0 160px;
        left: 0;
    }
}

@media (min-width:768px) and (max-width:991px) {

    .sellpro .ekart{
        margin: 0 -5px;
    }
    .sellpro .recent-add{
        padding: 0 5px;
    }
    .sellpro .col-md-4{
        margin-right: 0!important;
    }
    .widget-about img {
        max-width: 150px;
        max-height: 60px;
    }
    .google-apple1 img {
        max-width: 150px !important;
        max-height: 60px !important;
    }
    .search-header {
        margin-left: 50px;
    }

    .card-product-trend .text-wrap {
        line-height: normal;
    }

    .subscribeletter {
        font-size: 1.5em;
    }

    .breadcrumb .item-1 {
        margin-left: 2% !important;
    }

    .sellpro .ekart {
        padding-right: 0 !important;
    }

    .category-item-card img {
        position: relative;
        top: 0;
    }

    .slider12 img {
        height: auto;
    }

    .category-item-card .title {
        max-width: 75%;
    }

    .category-item-card .subtitle {
        max-width: 75%;
    }

    .buttonicon {
        margin-top: 10%;
    }

    .inner {
        width: auto;
    }

    .card-sm {
        width: auto !important;
        height: 320px;
        margin: 5px auto;
    }

    .loginhover {
        margin: auto !important;
    }

    .cartside {
        margin: auto !important;
    }

    .col-md-9 {
        flex: 1 1 65% !important;
    }

    .card-deal {
        width: auto;
        height: auto;
    }

    .img-wrap {
        width: auto !important;
        height: auto;
        overflow: hidden;
    }

    .well1 .input-group {
        text-align: center;
        margin: 8% auto;
        justify-content: center;
    }

    .productdetails2 {
        padding: 0 40px !important;
    }

    .well1 input.btn.btn-lg {
        width: 84%;

    }

    .gridviewdiv {
        width: auto;
    }

    .filter .custom-control {
        padding-left: 0;
    }

    #list {
        margin-left: 0;
    }

    .style-desc {
        overflow: hidden !important;
        max-width: auto;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
        text-transform: capitalize;
    }

    [class*=card-product] a.title {
        overflow: hidden !important;
        max-width: auto;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
        text-transform: capitalize;
    }

    .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .card-title {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
    }

    .nav-home-aside {

        height: 100%;
        width: auto;
    }

    .nav-home-aside .menu-category li:hover .submenu {
        display: block !important;
        margin-left: 0;
    }

    .nav-home-aside .more-category1 li {
        height: auto;
        width: auto;
        overflow: hidden;
    }

    #navContainer .active {
        position: static !important;
        width: 100% !important;
        display: block !important;
    }

    .card-deal .col-heading {
        min-width: auto !important;
        flex-basis: auto !important;
        flex-shrink: 0;
        text-align: left;
    }

    .spacingrm .card {
        margin-bottom: 5px;
    }

    .ekartspec {
        margin-left: -1px !important;
        margin-right: 1px !important;
    }

    .ekartspec [class*="col-md-4"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .ekartspec [class*="col-8"] {
        padding-left: 1px !important;

    }

    .ekartspec [class*="col-4"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .spacingrm {
        margin-left: 1px !important;
        margin-right: 1px !important;
    }

    .item .overlay-text {
        position: absolute;
        width: 30vw;
    }

    .respondiv .col-md-6 {
        margin-bottom: 5px;
    }

    .ekartspec .text-wrap {
        line-height: 2;
    }

    .shopdetails .navbar {
        max-width: 100%;
    }

    .shopdetails .list-group-item .text-wrap {

        line-height: 2;


    }

    .shopdetails .img-event {
        display: inline-block;
    }

    .shopdetails .text-wrap {
        line-height: 2;
    }

    .shopdetails .list-group-item {
        max-width: 96% !important;
    }

    .item1.list-group-item {
        height: 180px !important;
    }

    .order-track-content {
        padding-left: 40px;
    }

    .item1.list-group-item .caption {
        float: none;
    }

    .item1.list-group-item .inner {

        display: block;
        left: 36%;
    }
}

@media (max-width:767px) {
    .logo {
        display: flex;
        justify-content: center;
    }

    .header-info .logo img {
        display: inline-block;
        width: auto;
    }

    .lcbuttons {
        float: none;
    }

    .productdetails2 {
        padding: 0 30px !important;
    }

    .inner select {
        width: auto;
    }

    .thumbnail:hover .inner {
        height: 39px;
    }

    .shopdetails .list-group-item {
        max-width: 98.5% !important;
    }

    .card {
        width: 100%;

    }

    .sellpro .ekart {
        padding-right: 0 !important;
    }

    .productdetails1 {
        padding-bottom: 0;
    }

    .footer-big .container {
        padding-left: 0;
    }

    .col-md-4 {
        margin-bottom: 5px;
    }

    .style-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .title {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
    }

    .card-title {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
    }

    [class*=card-product] a.title {
        overflow: hidden !important;
        max-width: auto;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
        text-transform: capitalize;
    }

    .search-header {
        margin-left: 20px;
        width: 50vw;
        height: auto;
        overflow: hidden;
        left: 20% !important;
        position: relative;
    }

    .category-item-card {
        height: 12rem;
    }

    .category-item-card img {
        position: relative;
        top: 0;
    }

    .category-item-card .title {
        max-width: 170px;
    }

    .category-item-card .subtitle {
        max-width: 170px;
    }

    .card-popular-category img {
        position: relative;
        top: 0;
    }

    .card-popular-category .text-wrap {
        position: relative;
        left: 0;
        height: auto;
        margin-left: 20px;
    }

    .card-body .card {
        height: auto;
        width: 97vw !important;
    }

    .carousel {
        width: auto;
        height: auto;
        overflow: hidden;
    }

    .nav-home-aside {
        padding-bottom: 20px;
        height: 100%;
        width: auto;
        overflow: hidden;
    }

    .nav-home-aside .more-category1 li {
        height: auto;
        width: auto;
        overflow: hidden;
    }

    #navContainer .active {
        position: static !important;
        width: 100% !important;
        display: block !important;
    }

    .nav-home-aside .menu-category li:hover .submenu {
        display: none !important;
        margin-left: 0;
    }

    .breadcrumb .item-1 {
        margin-left: 1.5% !important;
    }

    .loginhover {
        margin: auto;
    }

    .cartside {
        margin: auto;
    }

    .section-main {
        text-align: center;
        box-sizing: border-box;
    }

    .section-main .card {
        max-width: auto;
    }

    .card-deal {
        height: auto;
        width: auto;
    }

    .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .line {
        width: auto !important;
    }

    .card-popular-category {
        width: auto;
        margin-left: 13px;
        margin-right: 13px;
    }

    .advertise {
        height: auto;
        width: auto;
        margin-top: -35px;
        margin-bottom: -25px;
    }

    .buttonicon {
        width: auto;
        margin-top: 5%;
    }

    .google-apple1 {
        width: auto;
    }

    .social-button {
        width: auto;
        margin: 10px auto;
    }

    .well1 .input-group {
        text-align: center;
        margin: 5% auto;
        justify-content: center;
    }

    .well1 {
        /*display: grid;*/
        /*justify-items: center;*/
        display: flex;
    justify-content: flex-start;
    }

    .well1 button.btn {
        width: 28%;
        height: 35px;
    }

    .well1 input.btn.btn-lg {
        width: 70%;
        margin-right: 1px;
        height: 35px;
    }

    .gridviewdiv {

        max-width: 100%;
        margin-bottom: 10px;
    }

    .item1 {
        max-width: 216px !important;
    }

    .filter .custom-control {
        padding-left: 0;
    }

    #list {
        margin-left: 0;
    }

    .item1.list-group-item {
        height: 180px !important;
    }

    .ekartspec {
        margin-left: -1px !important;
        margin-right: 1px !important;
    }

    .ekartspec [class*="col-md-6"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .ekartspec [class*="col-8"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .ekartspec [class*="col-4"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .spacingrm {
        margin-left: 1px !important;
        margin-right: 1px !important;
    }

    .card-deal .col-heading {
        min-width: auto !important;

        flex-basis: auto !important;

        flex-shrink: 0;
        text-align: left;
    }

    .spacingrm .card {
        margin-bottom: 5px;
    }

    .sellpro [class*="col-md-4"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .shopdetails .view-group {
        display: flex !important;
        margin: 0 auto;
    }

    .advertisebanner img {
        padding: 10px;
        max-width: 100%;
        height: auto;
    }

    .slider12 img {
        height: auto;
    }

    .card .itemside img {
        height: auto;
    }

    .itemside {
        display: inline-block;
    }

    .order-track-content {
        padding-left: 0;
    }

    .item1.list-group-item .caption {
        float: none;
    }

    .item1.list-group-item .inner {
        display: block;
        margin: 0 161px;
        left: 0;
    }

     .sellpro.similarpro .col-xl-2{
         margin-right:0!important;

    }
    .sellpro.similarpro .ekart {
        padding-right: 15px !important;
        padding-left: 15px;
    }
    
    .swiper-button-custom, .swiper-pagination-custom{
        display:none !important;
    }
}

@media (max-width:480px) {

    body,
    html {
        overflow-x: hidden;
    }
    
    .top-sticky-nav{
        position:fixed;
        
    }
    
    .page-wrapper-main{
        margin-top:140px;
    }

    .lcbuttons {
        display: flex;
        justify-content: center;
        float: none;
    }

    .card-deal .col-heading {
        min-width: 50%;
        text-align: left;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .search-header {
        width: auto;
        left: 0% !important;
    }

    .card-trand .card-sm {
        width: auto;
    }

    .carousel {
        overflow: hidden;
        width: auto;
        margin-top: 5px;
    }

    .title-section {
        height: auto;
        text-align: center;
        margin: 5px auto;
        padding: 0;
        width: auto;
        display: block;
    }

    .inner select {

        font-size: 10px;
        padding-bottom: 5px;
    }

    .card {
        width: -webkit-fill-available;

    }

    .nav-home-aside .menu-category li:hover .submenu {
        display: none;
        margin-left: 0;
    }

    #navContainer .active {
        display: block;
        position: static;
        width: 100%;
    }

    .nav-home-aside {
        margin-bottom: 10px;
        width: auto;
        min-height: auto;
    }

    .nav-home-aside ul {
        width: auto;
        height: auto;
    }

    .nav-home-aside .menu-category li {
        margin-bottom: 15px;
        width: 100%;
    }

    .more-category1 label:after {
        margin-bottom: 5px;
    }

    .more-category1 {
        width: 100% !important;
        position: relative;
        height: auto;
        border-top: 0;
        border-bottom: none !important;
        margin: auto;
    }

    .menu-category li:nth-last-child() {
        margin-bottom: 15px;
        overflow: hidden;
        z-index: 9999;
        opacity: 1;
    }

    .card-deal {
        height: auto;
        width: auto;
    }

    .recentadd {
        margin: 10px 0 0 0;
    }

    .card-sm {

        text-align: center;
    }

    .viewall {
        justify-content: center;
        text-align:right;
    }

    .view {
        float: none;
    }

    .responsivecard {
        height: auto;
    }

    .item img {
        position: relative;

    }

    .category-item-card .title {
        max-width: 165px;
    }

    .category-item-card .subtitle {
        max-width: 165px;
    }

    .card-popular-category .col-4 {
        left: -4%;
    }

    .card-popular-category .text-wrap {
        width: auto;
        height: auto;
        padding-left: 0px !important;
    }

    .social-button {
        width: auto !important;
        height: auto;
    }

    .google-apple1 {

        height: auto;

    }

    .buttonicon {
        width: auto;

    }

    .title {
        font-size: 1rem;
    }

    .breadcrumb .item-1 {
        margin-left: 1% !important;
    }

    .select {
        width: auto;
        height: auto;
        margin-right: 0;
    }

    .select1 {
        width: auto;
        height: auto;
        margin-right: -19px;
    }

    .gridviewselect {
        padding: 0;
        float: none;
    }

    .shopdetails .list-group-item {
        max-width: 95% !important;
    }

    .gridviewdiv {
        max-width: 99.6%;
    }

    .view-group .item-1 {
        width: auto;
    }

    .shopdetails .item1 {
        height: 100%;
        position: relative;
        display: block;
        max-width: 98% !important;

    }

    .item1.list-group-item .caption {
        float: none;
    }

    .style-desc {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
    }

    #list {
        margin-left: 2px;
    }

    .item1 .title {
        overflow: hidden !important;
        max-width: auto;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical !important;
    }

    .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .detail {
        margin-top: 25%;
    }

    .main-img img {
        width: 100% !important;
    }

    .detail-info {
        margin-left: 3%;
    }

    .button-form {
        margin-top: 30%;
    }

    .read-more {
        max-width: 100%;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        visibility: visible;
    }

    .well1 .input-group {
        text-align: center;
        margin: 5% auto;
        justify-content: center;
    }

    .sellpro .ekart {
        padding-right: 0 !important;
        margin: 0 -6px;
    }

    .bs-wizard {
        width: auto;
        height: auto;
    }

    .bs-wizard>.bs-wizard-step>.progress {
        margin: 0 auto;
        display: flex;
    }

    .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
        position: absolute;
        width: 30px;
        height: 30px;
        display: block;
        background: #73a0e7;
        top: 71px !important;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
    }
    .item1.list-group-item .card-sm {
        padding-top: 0;
    }

    .sellpro{
        padding-bottom: 0!important;
    }


    .sellpro .col-6{
        padding: 0 5px!important;
        margin-right: 0!important;
        margin-bottom: 0!important;
    }
    .ekartspec {
        margin-left: -1px !important;
        margin-right: 1px !important;
        padding-bottom: 0!important;
    }

    .ekartspec [class*="col-md-4"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
        margin-right: 13px !important;
    }

    .ekartspec [class*="col-8"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .ekartspec [class*="col-4"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    .spacingrm {
        margin-left: 1px !important;
        margin-right: 1px !important;
    }

    .category-item-card img {

        top: 0;
        right: 2% !important;
        position: absolute;
        margin-top: 4%;
    }

    .category-item-card .overlay-text {
        position: relative;
        left: 0;
        top: 0;
        margin-top: 0% !important;
    }

    .category-item-card {

        height: 12rem;

    }

    .ekartspec [class*="col-12"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .card-popular-category img {

        display: block;
    }

    .advertisebanner img {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    [class*='card-product'] .img-wrap img {
        height: 100%;
        width: 100%;
        display: inline-block;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .slider12 img {
       height:auto;
    }

    .google-apple {
        overflow: hidden;
        width: 100%;
    }

    .google-apple img {
        padding: 0;

    }

    .card .itemside img {
        height: 90px;
        width: 90px;
    }

    .itemside {
        display: inline-block;
    }

    .footer-menu {
        margin: 0 auto;
    }

    .modal-dialog {
        margin: 0 auto !important;
    }

    .order-track-content {
        padding-left: 0;
    }

    /* order page */
    .card .fav-image {
        margin: 0 auto;
    }

    .order .fav-image {
        height: 200px;
        width: 200px;
    }

    .button-container .form-control {
        margin: 0;
    }

    .checktrash {
        display: grid;
        float: left;
        margin: 40px;
    }

    .checkoutbtn .btn {
        margin-bottom: 3px;
    }

    .table-responsive .table td,
    .table th {
        padding: 5px !important;
        margin: 0 auto !important;
    }

    /* eof cart */

    .banneradvertise img {
        height: auto;
        clear: both;
    }

    .favouriteimg {
        margin: 0 auto;
    }

    .card:hover .inner button {
        font-size: 10px;
    }

    .card-popular-category {
        margin-bottom: 10px;
    }

    .footer-menu {
        /*text-align: center !important;*/
    }

    .thumbnail:hover .inner button {
        font-size: 10px;
    }

    .item1.list-group-item .inner {
        display: block;
        left: 0;
    }
    .sellpro.similarpro .ekart {
    padding-right: 0px !important;
    padding-left: 0px;
    }
    
    .slider-container-box {
        position: relative;
        padding: 0 36px;
    }
    .swiper-slide{
        width: 300px;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 25px !important;
    }
}
