/* 215 of 1949 CSS properties converted by rtl.daskhat.ir
 These properties should be override originals.
 just load rtl css file after original css file.*/

/* body {direction:rtl;} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

*, *:before, *:after{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

body{
    direction: rtl;
    background-color: #f6f7f9 !important;

}
.text-wrap.text-left{
    text-align:right!important;
}
:root{
    --button: #1d86d6!important;
    --prouctvariantbtn: #D5EDFF!important;
    --text-hover: #1d86d6!important;
    --cart-badge: #dc3545!important;
    --title: #000!important;
    --footer-content: #ddd!important;
    --socia-icon: #ddd!important;
    --social-icon-hover: #1d86d6!important;
    --footer-title: #ffc107!important;
}

.btn:focus{
    box-shadow: none!important;
}

::-webkit-input-placeholder{
    font-size: medium;
}

::-moz-placeholder{
    font-size: medium;
}

:-ms-input-placeholder{
    font-size: medium;
}

:-moz-placeholder{
    font-size: medium;
}

.notification-img{
    height: 300px;
}

.badge-danger{
    color: #fff;
    background-color: var(--cart-badge);
}

.delivery-address{
    position: relative;
}

.list-group-image{
    width: 200px;
}

.delivery-address .edit-delete{
    position: absolute;
    left: 15px;
}
.card-trand{
    text-align:right;
}

.card-trand h1{
    font-size: 1.5rem;
    color: black;
}

.card-trand .card-sm{
    height: 320px;
    width: 223px;
    overflow: hidden;
}

.wallet{
    font-size: 25px;
}

.gift{
    font-size: 90px;
}

.refer-border{
    border-style: dashed;
}

.refer-share{
    font-size: 20px;
}

.select{
    margin-top: 6px;
    margin-left: 3px;
}

.filter .card{
    padding: 20px 35px 20px 35px !important;
}

.breadcrumb{
    background-color: #fff !important;
}

.breadcrumb .item-1{
    margin-right: 13% !important;
}

.breadcrumb-item a{
    color: black;
    text-decoration: none !important;
    text-transform: none!important;
}

.innerselect1-container .innerselect1-selection--single{
    height: 34px !important;
}

.innerselect1-container--default .innerselect1-selection--single{
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}

.gridviewselect{
    display: flex;
    float: left;
}

.select1 form{
    width: 180px !important;
}

.gridviewdiv{
    width: auto;
    margin-right: 1px !important;
    margin-left: 5px;
    max-width: 92%;
}

#grid{
    margin-right: 20px;
}

.letter{
    margin-right: 20px;
}

.item1{
    background-color: #fff;
    height: 330px;
    max-width: 226px !important;
    margin: 5px;
}

.item1 .title{
    overflow: hidden;
    max-width: auto;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    text-transform: capitalize;
    color: #000;
}

.description1{
    text-transform: capitalize;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    font-size: 14px !important;
}

.view-group{
    margin: 10px;
    margin-right: -2px !important;
}

.thumbnail{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
}

.shopdetails .inner{
    width: auto;
    font-size: 11px;
}

.item1.list-group-item{
    float: none;
    background-color: #fff;
    margin-bottom: 10px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 90% !important;
    padding: 20px;
    border: 0;
    height: 200px !important;
}

.item1.list-group-item .img-event{
    float: right;
    height: 130px;
    width: 130px;
    margin-left: 30px;
}

.item1.list-group-item .img-fluid{
    max-height: 100%;
    max-width: 100%;
    clear: both;
}

.item1.list-group-item .thumbnail{
    margin-bottom: 0px;
}

.item1.list-group-item .caption{
    float: right;
    margin: 0;
    position: relative;
}

.item1.list-group-item:before, .item1.list-group-item:after{
    display: table;
    content: " ";
}

.item1.list-group-item:after{
    clear: both;
}

.item1 .img-fluid{
    max-width: 200px;
    height: 200px;
    clear: both;
    display: inline-block;
    padding-top: 15px;
}

.shopdetails .card-sm{
    width: auto;
}

.thumbnail:hover .inner button{
    color: #fff;
    border: white !important;
    background-color: var(--button);
    width: auto;
    height: 37px;
}

.thumbnail:hover .inner{
    margin-top: 80px;
    height: 45px;
    padding: 0;
    background-color: #fff;
    border: none !important;
    color: #fff;
}

.thumbnail:hover .inner span{
    color: #fff;
}

.inner select{
    color: #fff;
    border: white !important;
    background-color: var(--button);
    border-radius: 5px;
    cursor: pointer;
    outline: none !important;
    box-shadow: none !important;
    font-weight: bold;
    font-size: small;
    height: 37px;
    -moz-appearance: none;
    margin-left: 2px;
}

.inner form{
    display: flex;
    justify-content: center;
}

.inner select option{
    background-color: var(--button);
    color: #fff;
    border-color: none !important;
    outline-color: #fff !important;
}

.padding-bottom-sm{
    padding-bottom: 10px;
}

.row-sm>[class^="col"]{
    padding-right: 5px;
    padding-left: 5px;
}

.inner{
    width: 100%;
    height: 0;
    padding-top: 0px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 300px;
    position: absolute;
    line-height: 14px;
    text-align: center;
    color: #fff;
    background-color: #fff !important;
    border: none;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    border-radius: 6px;
}

.card:hover .inner button{
    color: #fff;
    border: white !important;
    background-color: var(--button);
    width: auto;
    height: 37px;
}

.card:hover .inner button span{
    color: #fff;
}

.card:hover .inner{
    margin-top: 50px;
    height: 40px;
    padding: 0;
    background-color: #fff !important;
    border: none !important;
}

.card-sm{
    height: 320px;
    width: 222px;
    overflow: hidden;
}

.card .img-wrap{
    overflow: hidden;
}

.card-product-grid .info-wrap{
    overflow: hidden;
    padding: 3px;
}

[class*='card-product'] a.title{
    color: #212529;
    font-size: initial;
    overflow: hidden !important;
    max-width: 300px;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    text-transform: capitalize;
}

.description{
    overflow: hidden !important;
    max-width: 300px;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    text-transform: capitalize;
    font-size: 14px !important;
}

.style-desc{
    font-size: 14px !important;
    text-transform: capitalize;
}

.card-popular-category .title{
    color: #212529;
    display: -webkit-box !important;
    font-size: initial;
    max-width: 300px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.card-popular-category .desc{
    text-overflow: ellipsis;
    font-size: 14px !important;
}

.short-desc{
    font-size: 70% !important;
}

.slider12 img{
    display: inline-block;
    clear: both;
    width: 100%;
    height: 70vh;
}

.ekart-special{
    background-color: white;
}

.padding-y{
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-home-aside{
    width: 100%;
    height: auto;
}

.nav-home-aside .more-category1 li{
    margin-right: 2px;
}

.nav-home-aside ul li a{
    display: block;
    background: #fff;
    padding: 10px 0px;
    color: #333;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.nav-home-aside .menu-category .submenu{
    display: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 20;
    position: absolute;
    right: 100%;
    top: 0;
    width: 250px;
    background: #fff;
}

.nav-home-aside .menu-category li{
    position: relative;
    display: block;
    border-bottom: 1px solid #C8C8C8;
    margin-bottom: 8px;
    width: 100%;
}

.nav-home-aside .menu-category a:hover{
    color: var(--text-hover);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.check_id~ul{
    width: 100%;
    left: 10px;
    display: none;
}

.check_id:checked~ul{
    display: block;
}

.check_id:checked+label{
    position: absolute;
    top: 100%;
}

.check_id:checked+label:before{
    content: 'Less';
    margin-top: 11px;
    right: 10px;
}

.check_id:checked+label:after{
    margin-top: 11px;
    content: '⇡';
    right: 290px;
    top: 0;
}

.more-category1{
    width: 100% !important;
    position: relative;
    height: auto;
    border-top: 0;
    border-bottom: none !important;
    margin: auto;
}

.more-category1 li{
    border-bottom: 1px solid;
    margin-right: -14px;
    width: 100%;
}

.more-category1 ul li a{
    width: 100% !important;
}

.more-category1 [type="checkbox"]{
    position: absolute;
    right: -9999px;
}

.more-category1 .label{
    background: #e4e3df;
    display: block;
    width: 100%;
    height: 60px;
    cursor: pointer;
    position: relative;
}

.more-category1 label:before, .more-category1 label:after{
    position: absolute;
}

.more-category1 label:before{
    content: 'More Category';
    right: 10px;
}

.more-category1 label:after{
    content: '⇣●';
    left: 5px;
    -webkit-animation: sudo .85s linear infinite alternate;
    animation: sudo .85s linear infinite alternate;
}

@keyframes sudo{
    from{
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    to{
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

}

.padding-bottom{
    padding-bottom: 20px !important;
}

.card-deal{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 318px;
}

.card-product-trend{
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #EBECF0;
    height: 322px;
}

.card-product-trend .card-product-grid:hover{
    height: 318px !important;
}

.card-deal .col-heading{
    min-width: 200px;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: right;
}

[class*='card-product'] a.title:hover{
    color: var(--text-hover);
}

.title-section{
    position: relative;
    display: inline-block;
    padding-left: 15px;
    z-index: 2;
    background-color: none !important;
}

.title{
    font-size: 1rem;
}

.line{
    border: 1;
    border-top: 2px solid #C8C8C8 !important;
    overflow: hidden;
    margin-top: 0;
}

.line1{
    border: 1 !important;
    border-top: 1px solid #C8C8C8 !important;
    overflow: hidden;
    margin-top: 0;
}

.view{
    text-decoration: none !important;
    text-decoration-style: none;
    font-size: initial;
    color: var(--button);
}

.view-all{
    border-radius: 1rem !important;
}

.sellpro .text-wrap{
    line-height: 2;
}

.item .overlay-text{
    position: absolute;
    top: 20px!important;
    right: 30px!important;
}

.rounded img{
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
    clear: both;
}

.web img{
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 5px;
}

.category-item-card{
    background-color: #C3DAEA !important;
    border-radius: 1rem;
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 10rem;
}

.web .subtitle{
    font-size: 14px!important;
}

.category-item-card .title{
    max-width: 220px;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden;
}

.category-item-card .subtitle{
    max-width: 220px;
    font-size: small;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden;
}

.shop-now{
    text-decoration: none !important;
    text-decoration-style: none;
}

.overlay-text a:hover{
    color: var(--text-hover);
}

.overlay-text a{
    color: black;
    font-weight: bold;
}

.category-item{
    height: 11.2rem;
    display: flex;
    float: left;
}

.popular{
    position: relative;
}

#more-category li{
    display: none;
    cursor: pointer;
}

.more-cat1{
    padding: 4px 0 6px 0 !important;
    border: none !important;
}

.cat1{
    display: none;
}

.register-card{
    max-width: 520px;
}

.card-popular-category{
    width: 442px auto;
    background-color: #fff;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

.card-popular-category img{
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 120px;
    clear: both;
    display: inline-block;
}

.card-popular-category .text-wrap{
    line-height: 2;
}

.buttonicon{
    margin: 10%;
    top: 30% !important;
}

.cartside img{
    font-size: 3em !important;
}

.lcbuttons{
    margin-right: 2px !important;
    display: -webkit-flex;
    float: left;
}

.cartside{
    margin: 0 30px 0 0 ;
}

.cartside a{
    text-decoration: none !important;
    text-decoration-style: none !important;
    color: var(--button)!important;
}

.header-info{
    margin: 0 0 -5px 0 !important;
    box-shadow: var(--button);
}

.header-info .logo img{
    display: inline-block;
    height: 50px;
    width: 200px;
}

.search-header{
    overflow: hidden;
    border: 1;
}

.search-header .input-group .form-control{
    border: none !important;
}

.input-group-append button{
    background-color: var(--button);
    color: #fff;
}

.loginhover{
    margin-right: auto;
}

.loginhover button{
    background-color: var(--button);
    color: #fff;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 2;
    left: 0;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover{
    background-color: #fff;
    text-decoration: none;
    color: var(--text-hover);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-item:active{
    background-color: #fff!important;
    color: #000!important;
}

.dropdown-item a:hover{
    color: var(--text-hover)!important;
}

.dropdown-item:hover{
    color: var(--button)!important;
}

.carousel{
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.form-inline{
    margin: 10px;
}

.form-inline input{
    padding: 0 90px 0 190px !important;
}

.card-header h1{
    align-items: center !important;
    font-size: 25px;
    padding: 0 40px 0 0 ;
}

.widget-header{
    margin: -15px 50px -10px 0 ;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.get-input h1{
    margin-top: 20px;
}

.fav{
    background: transparent;
    border: none;
    font-size: 22px;
}

.add-to-fav{
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.add-to-fav1{
    display: flex;
    float: left;
}

.add-to-fav button[type=button]{
    border: none !important;
    border-color: transparent !important;
    color: #adb5bd !important;
    font-size: 16px;
    overflow: hidden;
}

.add-to-fav a{
    border: none !important;
    border-color: transparent !important;
    color: #adb5bd !important;
    font-size: 16px;
    overflow: hidden;
}

.detail-price{
    font-size: 80%;
}

.price{
    font-weight: 600;
    font-size: 14px;
    color: #212529;
}

.price2{
    font-size: 14px;
    color: #212529;
}

.category-card{
    width: 200px;
    height: 200px;
    margin-right: 5%;
}

.category-card1{
    height: 250px;
}

form.togglesearch input[type=text]{
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 80%;
    background: transparent;
}

.container{
    max-width: 1400px !important;
    width: 100%;
    margin: 0 auto;
}

.products{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

.name{
    font-size: 18px;
    color: var(--title);
}

.checkout-total{
    color: black;
    margin-bottom: 0;
    font-weight: bold;
}

.promo-code{
    position: relative;
}

.promo-code .refresh{
    position: absolute;
    left: 0;
    font-size: 18px;
}

.product-name{
    margin-bottom: 0;
}

.product-name:hover{
    text-decoration: none !important;
}

[class*="col-md-"]{
    width: 100%;
}

[card*="col-md-"]{
    width: 100%;
}

.advertise img{
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 14px;
}

.advertise{
    display: flex;
    justify-content: center;
}

.small{
    text-align: right;
    font-size: 14px;
    padding: 3px;
}

.shop-image{
    width: 200px;
    height: 200px;
}

.shop-product-name{
    height: 70px;
}

.shop-product-mrp{
    font-size: 14px;
    color: black;
}

.wallet-amount{
    color: var(--button);
}

.add-to-cart button{
    border-radius: 1rem;
    background-color: var(--button);
    color: #fff !important;
}

.shop-product-variant{
    color: black;
    font-size: 12px;
}

.shop-product-name a{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.product-info{
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.product-info-tab div{
    color: black;
    font-size: 16px;
}

.actualPrice{
    display: none;
}

.order{
    display: flex;
    float: right;
    padding: 10px;
}

.fav-image{
    height: 200px;
    width: 200px;
}

.order1 hr{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.orderview-details{
    position: absolute;
    left: 15px;
    top: 9px;
}

.order-track-content{
    padding-right: 128px;
}

.wallet-header{
    height: 40px;
    margin-left:25px;
}

.envelope{
    color: var(--socia-icon);
}

.well1 .input-group{
    margin: 10px auto;
    width: 100%;
    justify-content: center;
}

.well1 .input-group .btn:focus{
    box-shadow: none;
}

.well1 input.btn.btn-lg{
    width: 70%;
    margin-left: 1px;
    height: 35px;
    background-color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.well1 button.btn{
    background-color: var(--button);
    color: white;
    width: 15%;
    height: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 0 1px 1px ;
    font-size: 0.9rem;
}

.well1 .promise{
    color: #999;
}

.line-footer hr{
    border-top-color: grey;
    opacity: 0.5;
}

.line-footer hr.small{
    margin: 20px 0;
}

.social-icon{
    display: inline-block;
    padding: 10px;
}

.social-icon a{
    color: black;
    font-size: 24px;
}

.google-apple{
    display: flex;
    flex-direction: row;
    margin-left: 4px;
}

.google-apple1 img{
    clear: both;
    max-width: 200px !important;
    max-height: 60px !important;
    display: inline-block;
    margin: auto;
    margin-top: 15px;
}

.google-apple img{
    max-width: 260px !important;
    max-height: 80px !important;
    clear: both;
}

.social-button{
    margin: 10px auto;
    width: auto;
}

.row{
    display: flex;
    flex-direction: row;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: block;
}

li a{
    text-align: initial;
}

a:focus, a:hover{
    text-decoration: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

a:focus{
    outline: 0;
}

p{
    font-size: 16px;
    line-height: 30px;
    color: #898b96;
    font-weight: 300;
}

h4{
    font-family: Rubik, sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #363940;
}

.footer-big{
    padding: 30px;
    margin-top: -100px;
}

.footer-big .footer-widget{
    margin-bottom: 30px;
}

.footer-big .footer-menu ul li a, .footer-big p, .footer-big ul li{
    color: var(--footer-content)!important;
}

.footer-menu{
    text-align: right;
}

.footer-menu ul li a{
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-widget-title{
    line-height: 2;
    margin-bottom: 10px;
    font-size: 18px;
    margin-right: 15px;
    color: var(--footer-title);
}

.widget-about img{
    display: block;
    clear: both;
    max-width: 200px;
    max-height: 60px;
}

.widget-about p{
    font-weight: 400;
}

.social{
    background: #16222A;
}

.footer-social li a{
    color: whitesmoke;
}

.footer__copyright p{
    color: whitesmoke;
}

@media (max-width:991px){
    .footer-menu{
        padding-right: 0!important;
    }

}

input:focus, button:focus, .form-control:focus{
    outline: none;
    box-shadow: none;
}

.form-control:disabled, .form-control[readonly]{
    background-color: #fff;
}

.table tr, .table tr td{
    vertical-align: middle;
}

.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}

#myTable .form-control{
    width: auto;
    display: inline-block;
}

.cart-qty-plus, .cart-qty-minus{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.cart-qty-plus:hover, .cart-qty-minus:hover{
    background-color: var(--button);
    color: #fff;
}

.img-prdct{
    width: 50px;
    height: 50px;
    background-color: var(--button);
    border-radius: 4px;
}

.img-prdct img{
    width: 100%;
}

#PayUMoney{
    display: none;
}

.error-hide{
    display: none;
}

.address-show{
    display: block;
}

.address-hide{
    display: none;
}

.card-hide{
    display: none;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3{
    text-align: center;
    color: #fff;
}

.login-container form{
    padding: 10%;
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border-color: white;
    cursor: pointer;
}

.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.productdetails1{
    padding: 0 40px !important;
    margin:auto;
}
.policycontent{
    margin-top:30px
}
.productdetails2 .add-to-fav{
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    top: 0;
    left: 25px;
    position: absolute;
    overflow: hidden;
}
.thumb-gallery-smallimg{
	margin: auto;
	display: block;
}
.pics{
    float: right;
    margin-left: 0px;
}

.pics span{
    display: block;
}

.main-img{
    display: block;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    height: 80% !important;
    width: 80% !important;
}

.card-product-similar{
    height: 390px;
}

.shop-product-name .card-title{
    color: #212529;
    display: block;
    font-size: initial;
    overflow: hidden !important;
    max-width: 390px;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    text-transform: capitalize;
    text-decoration: none !important;
}

.additional-img img{
    float: right;
    width: 90px;
    height: 90px;
    padding: 10px 5px;
    border: .5px solid #ddd;
    border-radius: 2px;
    margin-left: 5px;
    cursor: pointer;
}

.additional-img img:nth-child(4){
    margin-left: 0;
}

.main-img img:hover, .additional-img img:hover{
    box-shadow: 0 0 6px #ddd;
}

.add-to-cart1 button{
    width: auto;
    color: var(--button);
    border: 1px solid var(--button);
}

.add-to-cart1 button:hover{
    width: auto;
    color: var(--button);
    border: 1px solid var(--button);
}

.buy-now button{
    color: #fff !important;
    border: 1px solid var(--button);
    margin-right: 10px;
}

.buy-now1{
    margin-right: 6px;
    margin-left: 6px;
}

.variant .btn{
    border: 1px solid #C8C8C8 !important;
    margin-left: 10px !important;
}

.variant .btn:hover{
    border: 1px solid var(--button);
    background-color: var(--prouctvariantbtn);
    margin-left: 10px !important;
}

.variant .btn.active{
    border: 1px solid var(--button);
    background-color: var(--prouctvariantbtn);
    margin-left: 10px !important;
}

.read-more{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.read-more a{
    text-decoration: none !important;
    color: var(--button);
    cursor: pointer;
    display: none;
}

.read-more ol li{
    list-style: none !important;
}

.follow-us-header{
    margin-bottom: 0px !important;
}

.footer-block{
    margin: 0 30px 0 0 !important;
    justify-content: center !important;
}

footer{
    background: #343a40;
    color: white;
    margin-top: 100px;
}

footer a:hover{
    color: var(--text-hover);
    text-decoration: none;
}

.noHover{
    pointer-events: none;
}

.copy{
    margin: 10px 0 0 0 ;
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle{
    padding-top: 2em;
    color: white;
}

.pull-left{
    padding: 0 30px 0 0 ;
}

.pull-right{
    padding: 0 400px 0 0 ;
}

.side-menu{
    padding-right: 10px;
}

.profile-form{
    height: 570px;
}

.select2-container .select2-selection--single{
    padding: .373rem 0 .72rem !important;
    height: 35.75px !important;
}

.list-group a:hover{
    color: var(--button);
}

.list-group a{
    color: var(--button);
}

ul.social-network{
    list-style: none;
    display: inline;
    margin-right: 0 !important;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icowhatsapp:hover i, .social-network a.icoinstagram:hover i, .social-network a.icotwitter:hover i{
    color: #fff;
}

.social-network a.socialIcon:hover, .socialHoverClass{
    color: #44BCDD;
}

.social-circle li a{
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto ;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i{
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i{
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a{
    background-color: #F9F9F9;
}

.head{
    padding: .75rem !important;
}

.btn-primary{
    background-color: var(--button)!important;
}

.text-primary{
    color: var(--text-hover)!important;
}

.delivery-icon{
    color: var(--button);
}

.calender input{
    border: none !important;
}

.calender-icon{
    color: var(--button);
}

.payment-icon{
    color: var(--button);
}

.modal{
    text-align: center;
    padding: 0 !important;
}

.modal:before{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
}

.modal-dialog{
    display: inline-block;
    width: 100% !important;
    text-align: right;
    vertical-align: middle;
}

.icon{
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    outline: none;
}

.icon:focus i{
    color: var(--button);
    opacity: 1;
}

.icon i{
    font-size: 25px;
    color: gray;
}

.moremenu button a{
    color: black;
    text-decoration: none !important;
}

.moremenu button a:hover{
    color: var(--button);
}

#scroll{
    position: fixed;
    left: 50px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: var(--button);
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 10;
}

#scroll span{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover{
    background-color: var(--button);
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.card-product-grid .title{
    max-width: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}

.carousel-control-prev .carousel-control-prev-icon{
    color: black !important;
}

.viewall{
    display: flex;
    float: left;
}

.item1.list-group-item .inner{
    float: right;
    width: max-content;
    right: 6%;
}

.banneradvertise img{
    height: 100px;
    clear: both;
}

.advertisebanner img{
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    display: inline-block;
    clear: both;
}

.bottomslider img{
    width: 100%;
    height: 100%;
}

.select2{
    width: 100% !important;
}

button.navbar-toggler:focus{
    outline-color: var(--button);
}

.card .itemside img{
    width: 200px;
    height: 200px;
    display: inline-block;
    clear: both;
}

.orderalign{
    align-items: right;
}

.profile-header-img{
    display: flex;
    justify-content: center;
}

.profile-header-img img{
    height: 50px;
    width: 200px;
}

.carttext{
    width: 200px;
}

.favbutton-container{
    display: inherit;
}

.card-popular-category span{
    font-size: 14px !important;
}

.shopdetails .text-wrap{
    line-height: 2;
}

.sold-out{
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    font-weight: 700;
    background-color: #e63946;
    padding: 2px 3px;
    border-left: 1px dashed #fff;
}

.sold-out::after{
    width: 0;
    height: 0;
    border: 12.5px solid transparent;
    position: absolute;
    content: "";
    border-top-color: #e63946;
    left: -26px;
    top: 0px;
    border-right-color: #e63946;
}

.sold-out::before{
    width: 0;
    height: 0;
    border: 13px solid transparent;
    position: absolute;
    content: "";
    border-bottom-color: #e63946;
    left: -25px;
    top: 0px;
}

.productdetails2 .sold-out{
    color: #fff;
    position: absolute;
    top: -30px;
    right: 15px;
    font-size: 15px;
    font-weight: 700;
    background-color: #e63946;
    padding: 2px 3px;
    border-left: 1px dashed #fff;
}

.productcard{
    border: none!important;
}

.about-page{
    margin-top: 1px;
}

.about-page .service-quality{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}

.about-page .service-quality .card{
    border: none;
}

.about-page .card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.about-page .web-image img{
    width: 100%;
    height: 150vh;
}

.about-page .android-image img{
    width: 100%;
    height: 150vh;
}

.about-page .creativity{
    text-align: center;
}

.about-page .creativity1{
    text-align: center;
}

.about-page .creativity2{
    text-align: center;
}

.about-page .service-text{
    font-style: normal;
    line-height: 1.6;
    color: #000;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.about-page .border-line{
    margin-top: 10px;
    width: 80px;
    height: 3px;
    display: inline-block;
    background: #1d86d6;
}

.about-page .card-content{
    margin-top: 100px;
    margin-bottom: 100px;
}
.list-thumb-gallery{
	margin-top:15px;
}
.outerdetailimg{
    height: 400px;
}
#slider-range .ui-state-default{
    background-color: var(--button)!important;
}

.title-sec{
    color: var(--title)!important;
}

.badge-primary{
    background-color: var(--button)!important;
}

#list .fa{
    color: var(--button);
}

#grid .fa{
    color: var(--button);
}

.social-icon .fab{
    color: var(--socia-icon);
}

.social-icon .fab:hover{
    color: var(--social-icon-hover);
}

.subscribeletter{
    color: var(--footer-content);
}

p:last-child{
    margin-bottom: 0;
}

.main_header ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.main_header a{
    text-decoration: none;
    cursor: pointer;
}

.main_header button{
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.main_header a, .main_header button, .main_header img, .main_header input, .main_header span{
    transition: all 0.3s ease 0s;
    color: #000;
}

.main_header *:focus{
    outline: none !important;
    box-shadow: none!important;
    border-color: none!important;
}

.main_header a:focus{
    outline: none !important;
    text-decoration: none !important;
}

.main_header a:hover{
    text-decoration: none;
}

.mobile_menu .container{
    position: relative;
}

.mobile_overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    cursor: crosshair;
    background: #222222;
    top: 0;
}

.mobile_overlay.active{
    opacity: 0.5;
    visibility: visible;
}

.mobile_menu{
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .mobile_menu{
        display: block!important;
    }

    .sticky-header.sticky{
        position: inherit!important;
        -webkit-box-shadow: inherit!important;
        box-shadow: inherit!important;
        -webkit-animation-name: inherit!important;
        animation-name: inherit!important;
        padding: 0!important;
        background: inherit!important;
        opacity: inherit!important;
    }

    .main_header{
        padding: 30px 0 28px!important;
    }

    .header_top{
        display: none!important;
    }

    .languagesec{
        display: none!important;
        margin-bottom: 14px!important;
        text-align: center!important;
    }

    .languagesec>ul>li{
        margin-left: 7px!important;
    }

    .languagesec>ul>li>a{
        line-height: 22px!important;
        color: #222222!important;
    }

    .languagesec>ul>li>a i{
        margin-right: 0px!important;
    }

    .innerdropdown_currency,  .innerdropdown_language{
        right: auto!important;
        left: 0!important;
    }

    .innerdropdown_language{
        right: -10px!important;
    }

    .header_social_icon{
        text-align: center !important;
        margin-bottom: 18px!important;
    }

    .secondheader{
        margin-bottom: 29px!important;
        padding: 0!important;}

    .dropdown_links{
        padding: 10px 12px!important;
    }

    .logo{
        display: flex!important;
        justify-content: center!important;
    }

    .logo img{
        margin: 0 auto 20px!important;
    }

    .header_hover_category{
        border-radius: 0 6px 6px 0!important;
    }

    .header_hover_category .select_option{
        height: 43px!important;
        line-height: 43px!important;
        font-size: 12px!important;
        width: 145px!important;
        letter-spacing: 0!important;
        padding-right: 10px!important;
        padding-left: 23px!important;
        border-radius: 0 6px 6px 0!important;
    }

    .header_hover_category .select_option::after{
        left: 8px!important;
    }

    .header_categories_menu{
        bottom: 0px!important;
    }

    .header_hover_category .select_option ul.list{
        max-height: 220px!important;
    }

    .header_search{
        margin-left: 0!important;
    }

    .header_search form{
        width: 100%!important;
        border-radius: 6px!important;
    }

    .mobile_screen_none{
        display: none!important;
    }

    .mobile_screen_block{
        display: block!important;
    }

    .header_search_box input{
        font-size: 12px!important;
        padding: 0 10px 0 54px!important ;
        width: 100%!important;
        height: 43px!important;
    }

    .header_search_box button{
        width: 48px!important;
        padding: 0 6px!important;
        top: 0!important;
        bottom: 0!important;
        left: 0!important;
        font-size: 16px!important;
        line-height: 38px!important;
        border-radius: 6px 0 0 6px!important;
    }

    .header_account_list{
        margin-left: 17px!important;
    }

    .header_account_list>a{
        font-size: 22px!important;
    }

    .header_account_list.register ul li a{
        font-size: 13px!important;
    }

    .header_right{
        justify-content: center!important;
    }

    .cart_img{
        width: 70px!important;
    }

    .cart_info a{
        font-size: 13px!important;
    }

    .cart_total span{
        font-size: 13px!important;
    }

    .main_menu{
        display: none!important;
    }

    .categories_title{
        height: 45px!important;
        border-radius: 6px!important;
    }

    .categories_title h2{
        line-height: 45px!important;
        float: inherit!important;
        padding-left: 37px!important;
    }

    .header_categories_toggle{
        display: none;
        max-height: 360px!important;
        overflow: auto;
        padding: 10px 0 20px!important;
    }

    .header_categories_toggle>ul>li>a{
        line-height: 38px!important;
    }

    .header_categories_toggle>ul>li>a i.fa-plus{
        display: none!important;
    }

    .header_categories_toggle>ul>li>a:hover{
        color: var(--button)!important;
    }

    .header_categories_toggle>ul>li:hover>a{
        background: inherit!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu{
        display: none;
		opacity: inherit !important;
		visibility: inherit !important;
		left: inherit !important;
		width: 100%!important;
		top: 100%!important;
        max-height: 350px!important;
        right: 0!important;
		overflow: auto!important;
		transition: unset!important;
		box-shadow: inherit!important;
		position: inherit!important;
		padding: 0 20px 0px 60px!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu>li{
        padding: 0!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu>li>a{
        line-height: 38px!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu>li.header_menu_item>a{
        text-transform: capitalize!important;
        font-weight: 400!important;
    }

    .header_categories_toggle ul li.header_menu_item>a{
        position: relative!important;
    }

    .header_categories_toggle ul li.header_menu_item>a::before{
        position: absolute!important;
        content: "+"!important;
        left: 15px!important;
        top: 50%!important;
        transform: translatey(-50%)!important;
        font-size: 20px!important;
    }

    .header_categories_toggle ul li.header_menu_item.open>a::before{
        display: none!important;
    }

    .header_categories_toggle ul li.header_menu_item.open>a::after{
        position: absolute!important;
        content: "-"!important;
        left: 15px!important;
        top: 50%!important;
        transform: translatey(-50%)!important;
        font-size: 30px!important;
    }

    .category_sub_menu{
        display: none!important;
        padding: 0 30px 0 0 !important;
    }

    .category_sub_menu li a{
        line-height: 38px!important;
    }

    .header_categories_toggle ul li ul.header_categories_mega_menu.column_2{
        width: 100%!important;
    }

    .categorie_banner{
        display: none!important;
    }

    .header_call-support{
        display: none!important;
        text-align: center!important;
        margin-bottom: 22px!important;
    }

    .header_call-support p{
        font-size: 13px!important;
    }

}

@media only screen and (max-width: 767px){
    .mobile_menu{
        display: block!important;
    }

    .bar_open{
        left: 20px!important;
        top: 20px!important;
    }

    .bar_open a{
        width: 32px!important;
        height: 32px!important;
        line-height: 34px!important;
        font-size: 24px!important;
    }

    .sticky-header.sticky{
        position: inherit!important;
        -webkit-box-shadow: inherit!important;
        box-shadow: inherit!important;
        -webkit-animation-name: inherit!important;
        animation-name: inherit!important;
        padding: 0!important;
        background: inherit!important;
        opacity: inherit!important;
    }

    .main_header{
        padding: 25px 0!important;
    }

    .header_top{
        display: none!important;
    }

    .languagesec{
        display: none!important;
        margin-bottom: 17px!important;
        text-align: center!important;
    }

    .languagesec>ul>li{
        margin-left: 7px!important;
    }

    .languagesec>ul>li>a{
        line-height: 22px!important;
        color: #222222!important;
    }

    .languagesec>ul>li>a i{
        margin-right: 0px!important;
    }

    .innerdropdown_currency,  .innerdropdown_language{
        right: auto!important;
        left: 0!important;
    }

    .innerdropdown_language{
        right: -10px!important;
    }

    .header_social_icon{
        text-align: center !important;
        margin-bottom: 18px!important;
    }

    .secondheader{
        padding: 0!important;
    }

    .logo img{
        max-width: 120px!important;
    }

    .dropdown_links{
        padding: 10px 12px!important;
    }

    .header_hover_category .select_option{
        height: 37px!important;
        line-height: 37px!important;
        font-size: 13px!important;
        border-radius: 6px!important;
    }

    .header_hover_category .select_option ul.list{
        max-height: 220px!important;
    }

    .header_search{
        margin-left: 0!important;
        margin-bottom: 25px!important;
    }

    .header_search form{
        width: 100%!important;
        border-radius: 6px!important;
    }

    .mobile_screen_none{
        display: none!important;
    }

    .mobile_screen_block{
        display: block!important;
    }
    .mobile_wrapper.active {
    margin-right: 0px!important;
    }
    .header_search_box input{
        font-size: 12px!important;
        padding: 0 10px 0 54px!important;
        width: 100%!important;
        height: 34px!important;
    }

    .header_search_box button{
        width: 48px!important;
        padding: 0 6px!important;
        top: 0!important;
        bottom: 0!important;
        left: 0!important;
        font-size: 16px!important;
        line-height: 38px!important;
        border-radius: 6px 0 0 6px!important;
    }

    .header_account_list{
        margin-left: 14px!important;
    }

    .header_account_list>a{
        font-size: 22px!important;
    }

    .header_account_list.register ul li a{
        font-size: 13px!important;
    }

    .header_account_list span.item_count{
        margin-right: 2px!important;
        width: 16px!important;
        height: 16px!important;
        line-height: 16px!important;
    }

    .header_right{
        justify-content: center!important;
    }

    .mini_cart{
        min-width: 300px!important;
        height: 100%!important;
        padding: 18px 18px 33px!important;
    }

    .cart_img{
        width: 70px!important;
    }

    .cart_info a{
        font-size: 13px!important;
    }

    .cart_total span{
        font-size: 13px!important;
    }

    .main_menu{
        display: none!important;
    }

    .categories_title{
        height: 43px!important;
        border-radius: 6px!important;
    }

    .categories_title h2{
        line-height: 45px!important;
        float: inherit!important;
    }

    .header_categories_toggle{
        display: none;
        max-height: 350px!important;
        overflow: auto!important;
    }

    .header_categories_toggle>ul>li>a{
        line-height: 38px!important;
    }

    .header_categories_toggle>ul>li>a i.fa-plus{
        display: none!important;
    }

    .header_categories_toggle>ul>li>a:hover{
        color: var(--text-hover)!important;
    }

    .header_categories_toggle>ul>li:hover>a{
        background: inherit!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu{
        display: none;
		opacity: inherit !important;
		visibility: inherit !important;
		left: inherit !important;
		width: 100%!important;
		top: 100%!important;
        max-height: 350px!important;
        right: 0!important;
		overflow: auto!important;
		transition: unset!important;
		box-shadow: inherit!important;
		position: inherit!important;
		padding: 0 20px 0px 60px!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu>li{
        padding: 0!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu>li>a{
        line-height: 38px!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu>li.header_menu_item>a{
        text-transform: capitalize!important;
        font-weight: 400!important;
    }

    .header_categories_toggle ul li.header_menu_item>a{
        position: relative!important;
    }

    .header_categories_toggle ul li.header_menu_item>a::before{
        position: absolute!important;
        content: "+"!important;
        left: 15px!important;
        top: 50%!important;
        transform: translatey(-50%)!important;
        font-size: 20px!important;
    }

    .header_categories_toggle ul li.header_menu_item.open>a::before{
        display: none!important;
    }

    .header_categories_toggle ul li.header_menu_item.open>a::after{
        position: absolute!important;
        content: "-"!important;
        left: 15px!important;
        top: 50%!important;
        transform: translatey(-50%)!important;
        font-size: 30px!important;
    }

    .category_sub_menu{
        display: none!important;
        padding: 0 30px 0 0!important ;
    }

    .category_sub_menu li a{
        line-height: 38px!important;
    }

    .header_categories_toggle ul li ul.header_categories_mega_menu.column_2{
        width: 100%!important;
    }

    .categorie_banner{
        display: none!important;
    }

    .header_call-support{
        display: none!important;
        text-align: center!important;
        margin-bottom: 22px!important;
    }

    .header_call-support p{
        font-size: 13px!important;
    }

}

.mobile_wrapper{
    width: 290px;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 110vh;
    transition: .5s;
    right: 0px;
    margin-right: -310px;
    padding: 50px 15px 30px;
    overflow-y: auto;
}

.mobile_wrapper.active{
    margin-right: 0px;

}

.mobile_wrapper .slinky-theme-default{
    background: inherit;
    min-height: 300px;
    overflow-y: auto;
}

.mobile_wrapper .languagesec{
    display: block;
}

.languagesec{
    padding-right: 7px;
}

.mobile_wrapper .header_account_area{
    display: flex;
}

.mobile_wrapper .header_call-support{
    display: block;
}

.positionheader{
    position: relative;
    top: 7px;
}

.header_main_menu>li.header_submenu_item.menu-open>span.menu-expand{
    transform: rotate(180deg);
}

.header_main_menu>li ul li.header_submenu_item.menu-open span.menu-expand{
    transform: rotate(180deg);
}

.header_main_menu li{
    position: relative;
}

.header_main_menu li:last-child{
    margin: 0;
}

.header_main_menu li span.menu-expand{
    position: absolute;
    left: 0;
}

.header_main_menu li a{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
    color: #000;
}

.header_main_menu li a:hover{
    color: var(--text-hover);
}

.header_main_menu li ul.sub-menu{
    padding-right: 20px;
}

.offcanvas_footer{
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.offcanvas_footer span a{
    font-size: 14px;
    color: #000;
}

.offcanvas_footer span a:hover{
    color: var(--text-hover);
}

.slinky-theme-default a:not(.back){
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.slinky-theme-default a:not(.back):hover{
    background: inherit;
    color: var(--text-hover);
}

.bar_close{
    position: absolute;
    top: 10px;
    left: 13px;
}

.bar_close a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    width: 32px;
    height: 32px;
    display: block;
    text-align: center;
    line-height: 33px;
    border: 1px solid #ededed;
    border-radius: 50%;
    color: var(--button);
}

.bar_close a:hover{
    background: var(--text-hover);
    border-color: var(--text-hover);
    color: #fff;
}

.bar_open{
    position: absolute;
    left: 17px;
    top: 26px;
    z-index: 9;
}

.bar_open a{
    font-size: 26px;
    width: 41px;
    height: 37px;
    display: block;
    line-height: 39px;
    text-align: center;
    border: 1px solid #ededed;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
}

.bar_open a:hover{
    color: #FF7F00;
    border-color: var(--text-hover);
}

.sticky-header.sticky{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    border-bottom: 0;
    display: block;
}

.sticky-header.sticky .search_widget{
    top: 50px;
}

.sticky-header.sticky .dropdown_account{
    top: 50px;
}

.sticky-header.sticky .mini_cart{
    top: 55px;
}

.header_top{
    border-bottom: 1px solid #ededed;
}

.languagesec>ul>li{
    display: inline-block;
    position: relative;
    margin-left: 16px;
    padding-left: 18px;
}

.languagesec>ul>li:last-child{
    margin-left: 0;
    padding-left: 0;
}

.languagesec>ul>li:last-child::before{
    display: none;
}

.languagesec>ul>li::before{
    content: "";
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 0;
}

.languagesec>ul>li:hover ul.innerdropdown_currency, .languagesec>ul>li:hover ul.innerdropdown_language{
    visibility: visible;
    max-height: 200px;
}

.languagesec>ul>li:hover>a{
    color: var(--text-hover);
}

.languagesec>ul>li>a{
    text-transform: capitalize;
    line-height: 39px;
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    color: #000;
}

.languagesec>ul>li>a i{
    margin-right: 3px;
}

.languagesec>ul>li>a img{
    margin-left: 4px;
}

.languagesec>ul>li:hover a:not([href]):not([tabindex]){
    color: var(--text-hover);
}

.innerdropdown_currency, .innerdropdown_language{
    position: absolute;
    background: #fff;
    border: 1px solid #ededed;
    padding: 10px 20px!important;
    text-align: right;
    top: 100%;
    right: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    overflow: hidden;
    z-index: 9999;
    border-radius: 3px;
    visibility: hidden;
    max-height: 0;
}

.innerdropdown_currency li a, .innerdropdown_language li a{
    text-transform: capitalize;
    display: block;
    font-size: 13px;
    white-space: nowrap;
    line-height: 28px;
    color: #222222;
}

.innerdropdown_currency li a:hover, .innerdropdown_language li a:hover{
    color: var(--text-hover);
}
.header_social_icon.text-right{
    text-align: left!important;
}
.header_social_icon ul li{
    display: inline-block;
    margin-left: 18px;
}

.header_social_icon ul li:last-child{
    margin-left: 0;
}

.header_social_icon ul li a{
    font-size: 16px;
}

.header_social_icon ul li a:hover{
    color: var(--text-hover);
}

.secondheader{
    padding: 10px 0 10px;
}

.logo img{
    max-width: 190px;
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 575px){
    .logo img{
        max-width: 120px!important;
        margin: 0 auto 20px!important;
    }

}

.dropdown_links{
    position: absolute;
    background: #fff;
    border: 1px solid #ededed;
    padding: 10px 20px;
    text-align: right;
    top: 100%;
    left: -36px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    overflow: hidden;
    z-index: 9999;
    border-radius: 3px;
    visibility: hidden;
    max-height: 0;
}

.dropdown_links li a{
    text-transform: capitalize;
    display: block;
    font-size: 13px;
    white-space: nowrap;
    line-height: 28px;
    color: #222222;
}

.dropdown_links li a:hover{
    color: var(--text-hover);
}

.header_hover_category{
    position: relative;
    border-radius: 0 25px 25px 0;
}

@media only screen and (max-width: 479px){
    .header_hover_category{
        border-radius: 6px!important;
        width: 360px!important;
        margin: 0 auto 20px!important;
    }

    .header_hover_category .select_option{
        width: 100%!important;
        border-radius: 0 6px 6px 0!important;
    }

    .header_search{
        margin-bottom: 0!important;
    }

    .header_search form{
        flex-direction: column!important;
        border: 0!important;
    }

    .header_search_box{
        border: 1px solid #ededed!important;
        border-radius: 6px!important;
        margin-bottom: 25px!important;
    }

}

.header_hover_category .select_option{
    border: 0;
    background: #f5f5f5;
    padding-right: 25px;
    padding-left: 35px;
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    border-radius: 0 25px 25px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .header_hover_category .select_option{
        padding-left: 28px!important;
    }

    .header_search form{
        width: 481px!important;
    }

    .main_menu nav>ul>li{
        margin-left: 24px!important;
    }

    .header_categories_toggle>ul>li>a{
        line-height: 38px!important;
    }

    .header_categories_toggle>ul>li ul.header_categories_mega_menu{
        width: 480px!important;
    }

}

.header_hover_category .select_option::after{
    top: 54%;
    left: 13px;
}

.header_hover_category .select_option ul.list{
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

.bar_open .fas{
    color: var(--button);
}

.header_search{
    margin: 0 auto;
}

.header_search form{
    display: flex;
    border-radius: 30px;
    border: 1px solid #ededed;
    background: #fff;
    width: 640px;
}

.mobile_screen_block{
    display: none;
}

.header_search_box{
    position: relative;
    width: 100%;
}

.header_search_box input::-webkit-input-placeholder{
    color: #222222;
}

.header_search_box input::-moz-placeholder{
    color: #222222;
}

.header_search_box input:-ms-input-placeholder{
    color: #222222;
}

.header_search_box input:-moz-placeholder{
    color: #222222;
}

.header_search_box input{
    border: 0;
    background: inherit;
    width: 100%;
    height: 45px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px 0 75px ;
    opacity: 0.7;
}

.header_search_box button{
    border: 0;
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 48px;
    width: 60px;
    padding: 0;
    text-align: center;
    left: 0;
    font-weight: 400;
    font-size: 20px;
    border-radius: 30px 0 0 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #1d86d6;
    color: #fff;
}

.header_account_list{
    margin: 0 15px;
    display: flex;
}

.header_account_list:last-child{
    margin-left: 0;
}

.header_account_list>a{
    font-size: 26px;
    display: flex;
    align-items: center;
}

.header_account_list>a:hover{
    color: var(--text-hover);
}

.header_account_list.register ul li{
    display: inline-block;
}

.header_account_list.register ul li a{
    text-transform: uppercase;
    color: #000;
}

.header_account_list.register ul li a:hover{
    color: var(--text-hover);
}

.header_account_list.register ul li span{
    margin: 0 2px;
}

.header_account_list span.item_count{
    margin-right: 5px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: var(--footer-title);
    color: #fff;
    border-radius: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
}

.header_account_area{
    display: flex;
    justify-content: flex-end;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mini_cart_wrapper{
    position: relative;
}

.cart_close{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
}

.cart_text h3{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
}

.mini_cart_close>a{
    font-size: 25px;
}

.mini_cart_close>a:hover{
    color: var(--text-hover);
}

.mini_cart{
    position: fixed;
    min-width: 355px;
    height: 100%;
    padding: 18px 28px 33px;
    background: #fff;
    z-index: 999;
    left: 0;
    top: 0;
    transition: .5s;
    transform: translateX(100%);
}

.mini_cart.active{
    transform: translateX(0);
    transition: .5s;
}

.cart_img{
    width: 90px;
    margin-left: 10px;
    border: 1px solid transparent;
}

.cart_img:hover{
    border-color: var(--text-hover);
}

.cart_info{
    width: 63%;
}

.cart_info a{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin-bottom: 6px;
}

.cart_info a:hover{
    color: var(--text-hover);
}

.cart_info p{
    font-size: 12px;
}

.cart_info p span{
    font-weight: 600;
}

.cart_remove a{
    font-size: 15px;
    display: block;
    line-height: 20px;
    text-align: center;
}

.cart_remove a:hover{
    color: var(--text-hover);
}

.cart_item{
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
}

.mini_cart_table{
    padding: 23px 0;
}

.cart_total{
    display: flex;
    justify-content: space-between;
}

.cart_total span{
    font-size: 14px;
    font-weight: 400;
}

.cart_total span.price{
    font-weight: 700;
}

.cart_button:first-child{
    margin-bottom: 15px;
}

.cart_button a{
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    background: #eef0f1;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
    padding: 13px 0px 11px;
    border: 1px solid #ededed;
}

.cart_button a:hover{
    background: var(--text-hover);
    border-color: var(--text-hover);
    color: #fff;
}

.header_menu_position{
    position: relative;
}

.main_menu nav>ul{
    display: flex;
}

.main_menu nav>ul>li{
    position: relative;
    margin-left: 37px;
}

.main_menu nav>ul>li:last-child{
    margin-left: 0;
}

.main_menu nav>ul>li:hover ul.sub_menu{
    visibility: visible;
    max-height: 360px;
    padding: 24px 20px;
}

.main_menu nav>ul>li:hover .mega_menu{
    visibility: visible;
    max-height: 300px;
    padding: 25px 30px 30px 30px ;
}

.main_menu nav>ul>li:hover>a{
    color: var(--text-hover);
}

.main_menu nav>ul>li:hover>a::before{
    opacity: 1;
    visibility: visible;
}

.main_menu nav>ul>li>a{
    display: block;
    font-size: 15px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    color: #000;
}

.main_menu nav>ul>li>a i{
    margin-right: 3px;
}

.main_menu nav>ul>li>a.active{
    color: #1d86d6;
}

.main_menu nav>ul>li ul.sub_menu{
    position: absolute;
    min-width: 220px;
    padding: 0 20px;
    background: #ffffff;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    max-height: 0;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    right: 0;
    left: auto;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 99;
    top: 91%;
    text-align: right;
}

.main_menu nav>ul>li ul.sub_menu li a{
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 32px;
    text-transform: capitalize;
    color: #000;
}

.main_menu nav>ul>li ul.sub_menu li a:hover{
    color: var(--text-hover);
}

.main_menu nav>ul>li.header_mega_items{
    position: static;
}

.main_menu nav>ul>li .mega_menu{
    position: absolute;
    min-width: 100%;
    padding: 0 30px 0 30px ;
    background: #ffffff;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    max-height: 0;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    right: 0;
    left: auto;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 99;
    top: 101%;
    text-align: right;
}

.header_mega_menu_inner{
    display: flex;
    justify-content: space-between;
}

.header_mega_menu_inner>li>a{
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.header_mega_menu_inner>li>a:hover{
    color: var(--text-hover);
}

.header_mega_menu_inner>li ul li{
    display: block;
}

.header_mega_menu_inner>li ul li a{
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 30px;
    text-transform: capitalize;
}

.header_mega_menu_inner>li ul li a:hover{
    color: var(--text-hover);
}

.header_categories_menu{
    position: relative;
    bottom: 7px;
}

.categories_title{
    position: relative;
    cursor: pointer;
    height: 51px;
    background: #1d86d6;
    border-radius: 10px 10px 0 0;
    padding-left: 20px;
}

.categories_title h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 51px;
    cursor: pointer;
    margin-bottom: 0;
    display: block;
    text-transform: capitalize;
    position: relative;
    color: #fff;
}

.categories_title .fas::before{
    color: #fff;
    display: block;
    position: absolute;
    font-size: 13px;
    line-height: 0px;
    right: 17px;
    top: 50%;
    transform: translatey(-50%);
}

.header_categories_toggle{
    background: #ffffff;
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 9;
    display: none;
    padding: 10px 0;
    box-shadow: 0px 0px 5.76px 0.24px rgba(0, 0, 0, 0.1);
}

.header_categories_toggle>ul>li{
    position: relative;
}

.header_categories_toggle>ul>li>a{
    font-size: 14px;
    line-height: 38px;
    text-transform: capitalize;
    font-weight: 400;
    display: block;
    cursor: pointer;
    padding: 0 30px 0 20px ;
}

.header_categories_toggle>ul>li>a i.fa-plus{
    float: left;
    font-size: 8px;
    line-height: 35px;
    transition: .3s;
    -webkit-transition: .3s;
}

.header_categories_toggle>ul>li:last-child>a{
    border-bottom: 0;
}

.header_categories_toggle>ul>li:hover ul.header_categories_mega_menu{
    opacity: 1;
    visibility: visible;
    right: 100%;
    display: block;
}

.header_categories_toggle>ul>li:hover>a{
    color: var(--text-hover);
}

.header_categories_toggle>ul>li ul.header_categories_mega_menu{
    position: absolute;
    right: 120%;
    width: 100%;
    background: #ffffff;
    padding: 15px 20px 15px;
    overflow: hidden;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    justify-content: space-between;
}

.header_categories_toggle>ul>li ul.header_categories_mega_menu.open{
    display: block;
    right: 0;
}

.header_categories_toggle>ul>li ul.header_categories_mega_menu>li>a{
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.header_categories_toggle>ul>li ul.header_categories_mega_menu>li>a:hover{
    color: var(--text-hover);
}

.category_sub_menu li a{
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}

.category_sub_menu li a:hover{
    color: var(--text-hover);
}

.header_categories_toggle ul li ul.header_categories_mega_menu.column_2{
    width: 400px;
}

.categorie_sub{
    opacity: 0;
    z-index: 999;
    position: absolute;
    width: 100%;
    right: 0;
    background: #ffffff;
    -webkit-transition: .3s;
    transition: .3s;
    top: 65%;
    visibility: hidden;
}

.categorie_sub.open{
    top: 95%;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.11);
}

.header_categories_toggle ul li.has-sub>a::before{
    position: absolute;
    content: "\f055";
    font-family: FontAwesome;
    top: 0;
    left: 20px;
    font-size: 18px;
    pointer-events: none;
}

.header_categories_toggle ul li.has-sub>a.open::before{
    content: "\f056";
}

.header_categories_toggle ul li.has-sub ul.categorie_sub li a{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    padding-right: 30px;
    display: block;
    line-height: 45px;
}

.header_categories_toggle ul li.has-sub ul.categorie_sub li a:hover{
    color: var(--text-hover);
}

.header_categories_toggle ul li ul.header_categories_mega_menu>li:first-child{
    padding-right: 0;
}

.header_categories_toggle ul li ul.header_categories_mega_menu>li:last-child{
    padding-left: 0;
}

.categorie_banner{
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 500px;
}

.categorie_banner a img:hover{
    opacity: 0.8;
}

.header_call-support{
    text-align: left;
}

.header_call-support p{
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    position: relative;
    color: #000;
}

.header_call-support p::before{
    content: '';
    position: absolute;
    background: url("../images/phone.png") no-repeat right  0;
    width: 32px;
    height: 32px;
    display: inline-block;
    right: -41px;
}

.header_call-support p a{
    display: block;
    font-size: 15px;
    color: #000;
}

.header_call-support p a:hover{
    color: var(--text-hover);
}

.sec123{
    background-color: #e9ecef;
    height: 100vh;
}

.blog-social a{
    margin-left: 30px;
}

.blog-image{
    width: 100%;
    height: 350px;
}

.contactsec1 .cool-b4-form .form-control{
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    letter-spacing: 0.1em;
    line-height: 24px;
    padding-bottom: 11px;
    padding-right: 28px;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
}

.title-contact{
    color: black;
}

.title-contact:hover{
    color: #1d86d6;
}

.cool-b4-form .btn{
    border-radius: 50px;
}

.cool-b4-form .form-group{
    position: relative;
    padding-top: 20px;
    margin-bottom: 0;
    margin: 0 auto;
}

.cool-b4-form .form-group:first-child:last-child{
    height: 100%;
}

.cool-b4-form .form-group:first-child:last-child .form-control{
    height: 100%;
}

.cool-b4-form .form-group textarea{
    resize: none;
}

.cool-b4-form .form-group .input-highlight{
    content: "";
    width: 0;
    height: 2px;
    background: #1d86d6;
    position: absolute;
    display: block;
    bottom: 0;
    transition: width 0.4s ease;
}

.cool-b4-form .form-group label{
    position: absolute;
    right: 10px;
    top: 25px;
    transition: all 0.4s ease;
}

.cool-b4-form .form-group .form-control{
    border-radius: 5px;
    border-width: 0 0 2px 0 ;
}

.cool-b4-form .form-group .form-control:focus, .cool-b4-form .form-group .form-control.hasValue{
    box-shadow: none;
    border-color: #ced4da;
}

.cool-b4-form .form-group .form-control:focus~.input-highlight, .cool-b4-form .form-group .form-control.hasValue~.input-highlight{
    width: 100%;
}

.cool-b4-form .form-group .form-control:focus~label, .cool-b4-form .form-group .form-control.hasValue~label{
    transform: scale(0.7);
    top: 0;
    right: 0;
}

.contactsec1 .buttons-type{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.contactsec1 .buttons-type .btn{
    padding-right: 30px;
    padding-left: 30px;
}

.iconsec .headerLine{
    margin: 20px auto;
    display: block;
    width: 160px;
    height: 2px;
    background: #1d86d6;
}

.header_account_list .fas{
    color: var(--button);
}

.header_social_icon .social-icon .fab{
    color: #000;
}

.mobile_wrapper .header_social_icon ul li{
    margin-left: 0;
}
.ekartspec{
    text-align:right;
}
.popular-categories{
    text-align:right;
}
.sellpro{
    text-align:right;
}
.sellpro .ekart{
    padding-left: 20px;
}

.mobile_wrapper .freeshipping p{
    text-align: center;
}
.freeshipping{
    text-align: right;
}
.item1.list-group-item .sold-out{
    right: 20px;
}

.companyname{
    color: var(--footer-title);
}

.returnpolicy{
    color: var(--title);
}

.returnpolicy1{
    color: var(--title);
}

.panel{
    padding: 25px;
}

.panel-default>.panel-heading{
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a{
    display: block;
    padding: 10px 15px;
}

.panel-body{
    font-size: 16px;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after{
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"]{
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after{
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after{
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel-default a:hover{
    color: #000!important;
    text-decoration: none;
}

.panel-default a{
    color: #000!important;
    text-decoration: none;
}

.accordion-option{
    width: 100%;
    float: right;
    clear: both;
    margin: 15px 0;
}

.accordion-option .title{
    font-size: 20px;
    font-weight: bold;
    float: right;
    padding: 0;
    margin: 0;
}

.accordion-option .toggle-accordion{
    float: left;
    font-size: 16px;
    color: #6a6c6f;
}

.accordion-option .toggle-accordion:before{
    content: "Expand All";
}

.accordion-option .toggle-accordion.active:before{
    content: "Collapse All";
}
.col-heading.content-body .section-heading{
    padding-right:5px;
}
.col-heading .col.text-left{
    text-align: right!important;
    padding-right:5px;
}

.continue-shopping{
    text-align:right;
}
.cart1title{
    text-align:right;
}
.cart1price{
    text-align:right;
}
.alert-info{
    text-align:right;
}
.checkout1title{
    text-align:right;
}
.section-content{
    text-align:right;
}
tfoot tr.text-left{
    text-align:right!important;
}
.delivery-address .form-group.ml-2 input{
    margin-right:15px!important;
}
.checkoutpayment .col-md-4 .card{
    padding-right:10px;
}
.checkoutpayment .col-md-4 .card p{
    text-align:right!important;
}
.checkoutpayment .col-md-8 .card{
    padding-right:10px;
}
.modal-body .add-to-fav1 button{
    margin-right:2px;
}
.text-right.shoppagination {
    text-align:left!important;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
    right: 50%;
    left:0!important;

}
.breadcrumb-item+.breadcrumb-item::before {
    padding-left: .5rem;
}
.favnext.text-right{
    text-align:left!important;
}
.walletid{
    margin-right:10px;
}
.transamount{
    margin-left:20px;
}
.idtransaction{
    margin-right:10px;
}
.address-show .form-group label{
    margin-right:15px;
}
.productdetails2 .text-left{
    text-align: right!important;
}